@model SchoolManagementtSystem.Models.StudentMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ClassMaster.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassMaster.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherMaster.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherMaster.TeacherName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
